<! DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PILab</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
    <h1>PILab</h1>
    <nav>
    <ul>
        <li><a href="#">進行計畫</a></li>
        <li><a href="#">關於我們</a></li>
        <li><a href="#">Predict規則</a></li>
    </ul>
    </nav>
    </header>
    <main>

    <section class="TTCA">
    <h2>TTCA_predict</h2>
    <img src="images\lab.jpg" alt="lab">
    </section>

    <section class="peptide">
    <h2>peptide</h2>
    </section>

    </main>
    <footer>
        <div>由<a href="https://www.designevo.com/tw/" title="免費的線上標誌製做器">DesignEvo</a>製作的標誌</div>
    </footer>
</body>
</html>